{% extends 'base.html.twig' %}

{% block title %}Edit Bovinos{% endblock %}

{% block body %}
    <h1>Edit Bovinos</h1>

    {{ include('bovinos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bovinos_index') }}">back to list</a>

    {{ include('bovinos/_delete_form.html.twig') }}
{% endblock %}
