{% extends 'base.html.twig' %}

{% block title %}New Bovinos{% endblock %}

{% block body %}
    <h1>Create new Bovinos</h1>

    {{ include('bovinos/_form.html.twig') }}

    <a href="{{ path('app_bovinos_index') }}">back to list</a>
{% endblock %}
