
{% block body %}
    {% for messages in app.flashes('sucess') %}
        <div class="alert alert-sucess">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('bovinos/_form.html.twig') }}


{% endblock %}
